<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ticket</title>
</head>
<body align="center">
    
    
    <h1>Booking Page</h1>
    <div style="font-size:30px">

    {% for info in infoMonuments %}
    <lable style='font-weight:bold'>City: </lable>{{info.city}}<br>
    <lable style='font-weight:bold'>Monument: </lable>{{info.monument}}<br>
    <lable style='font-weight:bold'>Indian Ticket Price: </lable>{{info.indPrice}}₹<br>
    <lable style='font-weight:bold'>Foreigner Ticket Price: </lable>{{info.foreignPrice}}₹<br>
    {% comment %} <h3>{{infoMonuments.city}}</h3><br> {% endcomment %}
    

    <br><br><br>
    <hr/>
    <form action="/ticketDetail" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value={{info.id}}/>
        <label>Email : </label>
        <input style="font-size:30px" type="email" name="email"/><br><br>
        <label>Ticket Count : </label>
        <input style="font-size:30px" type="number" min="1" max="10" name="count"/><br><br>
        <label>Type of Citizen : </label>
        <input type="radio" name="citizen" value={{info.indPrice}}/> Indian
        <input type="radio" name="citizen" value={{info.foreignPrice}}/>Foreigner <br><br>
        <label>Date : </label>
        <input style="font-size:30px" type="date" name="date"/><br><br>
        <label>Time : </label>
        <input type="radio" name="time" value="morning"/> Morning
        <input type="radio" name="time" value="afternoon"/> afternoon   <br><br>
        <input style="font-size:30px" type="submit"/>


        

    </form>

    {% endfor %}
    
    
   
    </div>
<body>
</html>
