<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ticketless Entry System</title>
    </head>
    <body align="center">
        <p align="center">॥ श्री गणेशाय नमः ॥</p>
        <hr>
        <h1 align="center">Ticketless Entry System</h1>
        <hr>
        
        <h1>Select City</h1>
        <form metho="post" action="/selectMonument">
            {% csrf_token %}
        {% for monuments in monumentsData%}
        <label>
            <input type="radio" name={{monuments.city}} value="Mumbai"> {{monuments.city}} 
        </label> 
        {% endfor %}
        <br><br>
        <input type='submit'/>
        </form>

    <body>
</html>